* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    margin: 0;

    background: #111;

    overflow-x: hidden;
}


.wedding {
    width: 100%;
}


.wedding-page {

    width: 100%;

    height: 100vh;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #111;

    overflow: hidden;

}


.wedding-page video {

    width: 100%;

    height: 100%;

    object-fit: contain;

    display: block;

}